{% extends 'main.html' %}
{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__body">
        <h2>Set New Password</h2>
        <form method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <div style="margin-top: 20px; display: flex; justify-content: center;">
            <button type="submit" class="btn btn--main">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
